*desktop.ini
*.log
*.pw
*.zip
*.log
*.pw
*oauth2.txt
oauth2.txt

#VS Code Files
*.vscode

# Windows image file caches
Thumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
/lib/gam-64/gam.exe
/jenkins.ps1
/params.ps1
/bin/oauth2.txt
/bin/roots.pem
/bin/gam.exe